<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTDConfig 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   
    <typeAliases>
    	<package name="com.yicj.mybatis.entity"></package>
    </typeAliases>
    
    <plugins>
   		<!--  <plugin interceptor="com.yicj.mybatis.plugin.PageInterceptor"></plugin> -->
   		<plugin interceptor="com.yicj.mybatis.interceptor.Myinterceptor1">
   			<property name="shuxing1" value="value1"/>
            <property name="shuxing2" value="value11"/>
   		</plugin>
   		<plugin interceptor="com.yicj.mybatis.interceptor.Myinterceptor2">
   			<property name="shuxing1" value="value2"/>
            <property name="shuxing2" value="value22"/>
   		</plugin>
   	</plugins>
    
    <mappers>
        <package name="com.yicj.mybatis.mapper"></package>
    </mappers>
</configuration>