<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTDConfig 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   
    <typeAliases>
    	<package name="com.yicj.mybatis.entity"></package>
    </typeAliases>
    
    <plugins>
   		 <plugin interceptor="com.yicj.mybatis.plugin.MybatisSqlInterceptor"></plugin>
   	</plugins>
    
    <mappers>
        <package name="com.yicj.mybatis.mapper"></package>
    </mappers>
</configuration>