<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件的根节点
  namespace
-->
<mapper namespace="com.yicj.mybatis.mapper.DeptMapper">
    <select id="findAll" resultType="Dept">
        select * from dept
    </select>
    <insert id="insertDept" parameterType="Dept">
        insert into dept (deptname) value (#{deptname}) ;
    </insert>
    
    <select id="findByIds" parameterType="com.yicj.mybatis.vo.QueryVO" resultType="Dept">
    	select * from dept 
    	<where>
    		<if test="depts != null and depts.size() > 0">
	    		<foreach collection="depts" index = "index" item = "item" open="deptno in (" close=")" separator=",">
	    			#{item.deptno}
	    		</foreach>
    		</if>
    	</where>
    </select>

    <select id="queryDeptByName" parameterType="string" resultType="Dept">
        select * from dept
        <where>
            <if test="value != null">
                deptname like '%${value}%'
            </if>
        </where>
    </select>

    <select id="queryDeptByName2" parameterType="string" resultType="Dept">
        select * from dept
        <where>
            <if test="value != null">
                deptname like "%"#{value}"%"
            </if>
        </where>
    </select>

    <select id="queryDeptByName3" parameterType="string" resultType="Dept">
        select * from dept
        <where>
            <if test="value != null">
                deptname like concat('%',#{value},'%')
            </if>
        </where>
    </select>
</mapper>