<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件的根节点
  namespace
-->
<mapper namespace="com.yicj.mybatis.mapper.UsersMapper">

	<resultMap type="Groups" id="findGroupsListByUidMap">
		<id column="gid" property="gid" />
		<result column="gname" property="gname" />
		<collection property="users" ofType="Users">
			<id column="user_id" property="uid" />
		</collection>
	</resultMap>

	<!-- 给一个用户id，查看该用户下所有的用户组信息 -->
	<select id="findGroupsListByUid" resultMap="findGroupsListByUidMap">
		SELECT * 
		FROM users_groups ug , groups g  
		WHERE ug.group_id = g.gid 
		AND ug.user_id = #{uid}
	</select>
	
</mapper>